/* resetting browser stuff */
*{
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: Georgia, serif,Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}


.row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }


/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: #000000;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-weight: 800;
}
.navbar .logo a span {
  color: #FF5732;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu{
  margin-left: 5px;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-right: 2vw;
}
.navbar .menu li a:hover {
  color: #FF5732;
}
.navbar.sticky .menu li a:hover {
  color: #FF5732;
}




/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #FF5732;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}






/* styling our footer */
footer{
  width: 100%;
  min-height: 300px;
  max-height: auto;
background-image: linear-gradient(to right top, #161616, #191919, #1b1b1b, #1e1e1e, #212121);
  clear: both;
}
footer img{
  height: 30px;
}
footer .footer-wrap{
  width: 80%;
  margin: 0 auto;
  padding-left: 9%;
  color: white;
}
.widgetFooter{
  width: calc(85%/3);
  height: auto;
  float: left;
  padding: 2.5%;
  text-align: left;
}
h4.uppercase{
  text-transform: uppercase;
  font-family: Arial;
  font-size: 20px;
}
ul#footerUsefulLink, ul#footerMediaLinks{
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-transform: capitalize;
}
ul#footerUsefulLink li, ul#footerMediaLinks li{
  cursor: pointer;
  /* transition: border-bottom 3s ease-in; */
}
ul#footerUsefulLink li:hover .usefulLinksIcons, ul#footerUsefulLink li:hover a{
   color: #00CED1;
   /* border-bottom: 1px solid red; */
}
ul#footerMediaLinks li:hover span.fb, ul#footerMediaLinks li:hover a.fb { color: #3b5998; }
ul#footerMediaLinks li:hover span.twit, ul#footerMediaLinks li:hover a.twit { color: #1DA1F2; }
ul#footerMediaLinks li:hover span.insta, ul#footerMediaLinks li:hover a.insta { color: #ffc838; }
ul#footerMediaLinks li:hover span.git, ul#footerMediaLinks li:hover a.git { color: #f1502f; }
 
div#footerLogo img{
  width: 100%;
  height: 10%;
  margin: 25% 0;
}
 
div.footerCopy{
  clear: both;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  border-top: 1px solid #ccc;
  background: #262626;
}
 
@media (max-width:800px){
  footer .footer-wrap{
    width: 100%;
    padding: 0;
  }
  .widgetFooter:not(:nth-of-type(2)){
    width: calc(90%/2);
    text-align: center;
    font-size: 0.9em;
  }
  .widgetFooter:nth-of-type(2){
    display: none;
  }
  div.footerCopy{
    font-size: 0.8em;
  }
}
@media (max-width:600px){
  .widgetFooter:not(:nth-of-type(2)){
    text-align: left;
  }
}





/* styling our main content */
.hero           {
  min-height: 500px;
  text-align: center;
  background-image: url('../img/dark-wallpapers.jpg');
  background-size: cover;
  height: 100vh;
  
}
.hero-content   {
  color: rgb(255, 255, 255);
  padding-top: 25vh;
  font-weight: bolder;
}
.hero-content h1{
  color: #ff0202;
  font-weight: bolder;
  font-size: 9vh;
  margin: 0;
}

.hero-content p    {
  font-size: 40px;
  margin-top: 0%;
}
.flexdiv{
  width: 40%;
  margin: auto;
}

.hero-content .flexdiv  a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 3px;
  text-decoration: none;
  font-size: 28px;
  width: 10vw;
  margin: 5px;
}





/* basic site sections */
.site-section   {
  padding-bottom: 50px;
  padding-top: 50px;
}
.site-section-secondary   {
  background: #EFEFEF;
}
.site-section-inside   {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-header {
  text-align: center;
  margin-bottom: 30px;
}
.section-header h2  {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}






/* feature boxes */
.all{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.feature-box   {
  width: 28%;
  padding: 20px 30px;
  margin: 0 auto;

}
.feature-box img  {
  margin-bottom: 12px;
  width: 80px;
}
.feature-box h5   {
  font-size: 20px;
  color: rgb(253, 132, 51);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
}



/* contact section styling */
.contact{
  background-color: #eec5aa;
}


.contact .max-width{
  padding: 3vw;
}
.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact .contact-content .column {
  width: calc(40% - 30px);
}
.contact .contact-content .text {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: #FF5732;
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(187, 177, 177);
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #FF5732;
  border: 2px solid #FF5732;
  transition: all 0.3s ease;
}
.right form .button-area button:hover {
  color: #FF5732;
  background: none;
}















/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img {
      height: 350px;
      width: 350px;
  }
}
@media (max-width: 991px) {
  .max-width {
      padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
      display: block;
      z-index: 999;
  }
  .menu-btn i.active:before {
      content: "\f00d";
  }
  .navbar .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #000000;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
      z-index: 45000;
  }
  .navbar .menu.active {
      left: 0;
  }
  .navbar .menu li {
      display: block;
  }
  .hero-content .flexdiv  a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #FFF;
    border: 3px solid #FFF;
    border-radius: 3px;
    text-decoration: none;
    font-size: 18px;
    width: 20vw;
    margin: 5px;
  }
  .navbar .menu li a {
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }
  .home .home-content .text-2 {
      font-size: 70px;
  }
  .home .home-content .text-3 {
      font-size: 35px;
  }
  .home .home-content a {
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width {
      max-width: 930px;
  }
  .about .about-content .column {
      width: 100%;
  }
  .about .about-content .left {
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right {
      flex: 100%;
  }
  .services .serv-content .card {
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
      width: 100%;
      margin-bottom: 35px;
  }
  .services .icon-box{
    width: 40%
}
.services .icon-box h4{
    font-size: 3vh;
}
.home .value .op input[type="submit"]{
  width: 100px;
}
}
@media (max-width: 690px) {
  .max-width {
      padding: 0 23px;
  }

  .hero-content h1   {
    font-size: 20px;
    margin: 0;
  }
  .hero-content p    {
    font-size: 20px;
    margin-top: 0%;
  }
.hero-content h1{
  color: #ff0202;
  font-weight: bolder;
  font-size: 5vh;
}

  .hero-content .flexdiv  a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #FFF;
    border: 3px solid #FFF;
    border-radius: 3px;
    text-decoration: none;
    font-size: 18px;
    width: 20vw;
    margin: 5px;
  }


  .home .home-content .text-2 {
      font-size: 60px;
  }
  .home .home-content .text-3 {
      font-size: 32px;
  }
  .home .home-content a {
      font-size: 20px;
  }
  .services .serv-content .card {
      width: 100%;
  }
  .services .row .icon-box{
    width: 40vw;

}
.services .icon-box h4{
    font-weight: 1800;
    font-size: 5vh;
    margin: 5% auto;
    
}
.home  input{
      margin:auto;
  }
  .skills .skills-content img{
     width: 90vw;}
     .services .icon-box h4 a{
  font-weight: 4700;
  margin-bottom: 1px;
  font-size: 15px;
  
}
.home .value .op input[type="submit"]{
  width: 100px;
}
}
@media (max-width: 500px) {
  .home .home-content .text-2 {
      font-size: 50px;
  }
  .home .home-content .text-3 {
      font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
      font-size: 19px;
  }
  .contact .right form .fields {
      flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
      margin: 0;
  }
  .right form .error-box {
      width: 150px;
  }
  .scroll-up-btn {
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
  }
   .services .row .icon-box{
    width: 40vw;
}
.services .icon-box h4{
    font-weight: 1800;
    font-size: 5vh;
    margin: 5% auto;
}
.home{
      width:100vw;
  }
  .home  input{
      margin:auto;
  }
  .home .value .op input[type="submit"]{
  width: 100px;
}
  .skills .skills-content img{
   width: 90vw;
   margin: auto;
  }
  .services .icon-box h4 a{
  font-weight: 4700;
  margin-bottom: 1px;
  font-size: 15px;
}
  }
.container {
  max-height: 100vh;
  max-width: 100vw;
  margin: auto;
  /* background-color: #78FFF1; */
  color: white;
  padding: 1.5%;
}
.value form{
margin: auto;
margin-top: 4vh;
margin-bottom:5vh ;
}



.value input {
  height: 5vh;
  width: 39%;
  margin-bottom: 3%;
  margin-top: 5%;
  color:black;
  font-size:1.8vh;
  font-weight: 900;
  padding-left:12px;
  background-color:white;
  border: none;
}
.home .chart {
  flex-basis: 100%;
}
select {
  height: 5vh;
  width: 59%;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 5%;
  font-weight: 900;
  padding-left:12px;
  background-color:white;

  font-size: 1.8vh;
}
form input:focus{

border: 2.5px solid #FF5732;
}
h4 {
  bottom: 4%;
}
.power {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.value {
  margin:  auto;
  padding-left: 10%;
  padding-top: 2%;
  padding-right: 10%;
}
.home .value .op input{
  width: 10vw;
  height: 35px;
  font-weight: 900;
  text-align: center;
  color: #fff;
font-size: 19px;
cursor: pointer;
background: #675AFE;
transition: 0.3s ease;
text-align: center;
margin-left: 25%;
margin-top: 5vh;
  
  }
  .home .value .op input:hover{
background: #4534fe;
}
